html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(45deg, #a8edea, #fed6e3);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.header_input {
  margin-right: 50px;
  width: 500px;
  height: 30px;
  font-size: 20px;
}


.header_btn_create {
  width: 150px;
  height: 32.5px;

  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s linear;
  cursor: pointer;
  border: 1px solid black;
}
.header_btn_create:hover, 
.header_btn_create:focus {
  background-color: black;
  color: white;
}
.main {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.note {
  background-color: #fff;
  width: 800px;
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}
.subnote {
  background-color: #fff;
  width: 800px;
  height: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  display: flex;
}
.note:hover {
  background: linear-gradient(
    45deg,
    rgb(225, 225, 225),
    rgb(246, 251, 251),
    rgb(242, 242, 242)
  );
}

.text_place {
  font-size: 20px;
  margin-left: 10px;
}
.subText_place {
  font-size: 16px;
  margin-left: 10px;
}

.icons {
  display: flex;
  margin-right: 10px;
}
.subIcons{
  display: flex;
  margin-right: 10px;
}

.gg-close-r {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s linear;
}
.gg-close-r:hover {
  color: red;
}
.gg-close-r::after,
.gg-close-r::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 3px;
}
.gg-close-r::after {
  transform: rotate(-45deg);
}

.gg-menu-boxed {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border-radius: 3px;
  border: 2px solid;
  margin-right: 5px;
  cursor: pointer;
}
.gg-menu-boxed::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 3px;
  top: 4px;
  left: 4px;
  box-shadow: 0 4px 0, 0 8px 0;
}
.gg-check-r {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 4px;
  margin-right: 5px;
  cursor: pointer;
}
.gg-check-r::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: -1px;
  width: 6px;
  height: 10px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

.gg-chevron-up-r {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 4px;
  margin-right: 5px;
  cursor: pointer;
}
.gg-chevron-up-r::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  left: 6px;
  bottom: 5px;
}



.styleTime{
  font-size: 10px;
  position: absolute;
  right: 200px;
}